@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Message Hisory</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (@item.SentFrom.Equals(@User.Identity.Name) || @item.SentTo.Equals(@User.Identity.Name)) /* This if statement filters out only the logged in users sent messages */
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageText)
                    </td>
                    <td>
                        @item.SentFrom
                    </td>
                    <td>
                        @item.SentTo
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
